/* filepath: c:\Users\SINDROMA\OneDrive\Desktop\my-app\src\components\card\Button.css */
.button {
    padding: 10px 20px;
    width: 140px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-active {
    background-color: #5cb85c; /* Ngjyrë jeshile për gjendjen e aktivizuar */
    color: white;
}

.button-active:hover {
    background-color: #4cae4c; /* Ngjyrë më e errët për efektin hover */
}

.button-disabled {
    background-color: #d9534f; /* Ngjyrë e kuqe për gjendjen e çaktivizuar */
    color: white;
    cursor: not-allowed;
    pointer-events: none; /* Parandalon klikimin */
}

.card-button {
    width: auto;
}