/* filepath: c:\Users\SINDROMA\OneDrive\Desktop\my-app\src\components\card\Button.css */
.button {
    padding: 10px 20px;
    width: 140px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-active {
    background-color: #44aa52;
    color: white;
}

.button-active:hover {
    background-color: #377c4e;
}

.button-disabled {
    background-color: #ff4d4d; /* Red color for disabled state */
    color: white;
    cursor: not-allowed;
    pointer-events: none; /* Prevent clicking */
}

.card-button {
    width: auto;
}