body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    padding: 16px;

}

.card {
    width: 300px;
    height: 400px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px;
}

.card:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.card-img {
   display:flex;
   justify-content: center;
   align-items:center
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333333;
}

.card-content {
    font-size: 1rem;
    color: #666666;
    line-height: 1.5;
}

.card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    padding: 10px 20px;
    margin: 0px;
}